.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
.container.dark {
    background: #374252;
}
.container.light {
    background: #fff;
}

button i {
    font-size: 18px;
}

.box {
    width: 340px;
    height: max-content;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    background-color: #e0e0e0;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 4px 0;
    transition: .5s height;
    max-height: 88vh;
}
.dark .box {
    background: #374252;
    color: #fff;
}
.light .box {
    background-color: #e0e0e0;
    color: #000;
}

.header {
    width: 100%;
    height: max-content;
    padding: 0 5px 3px 5px;
}

.displyMode {
    border: 0px solid #000;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    /* box-shadow: 5px 5px 9px #29323e,
                -4px -4px 10px #455367; */   
}
.dark .displyMode {
    background-color: #cacaca;
    color: #000;
}
.light .displyMode {
    color: #fff;
    background: #374252;
}


.ago {
    width: 100%;
    height: 30px;
    margin: 5px 0 0 0;
    font-size: 17px;
    text-align: end;
    padding: 0 10px;
}
.dark .ago {
    color: #fff;
}
.light .ago {
    color: rgb(53, 52, 52);
}

input[type="text"] {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    padding: 8px;
    font-size: 22px;
    border: none;
    text-align: end;
    background: transparent;
}
input[type="text"]:focus {
    outline: none;
}
.dark input {
    color: #fff;
}
.light input {
    color: #000;
}


.keyboard button {
    width: 60px;
    height: 60px;
    border: none;
    margin: 8px;
    font-size: 20px;
    border-radius: 10px;
}
.dark .keyboard button {
    color: #fff;
    background: #374252;
    box-shadow:  5px 5px 9px #29323e,
                -4px -4px 10px #455367;
}
.light .keyboard button {
    color: #000;
    background: #e0e0e0;
    box-shadow: 5px 5px 9px #949494, 
                -4px -4px 10px #ffffff;
}

.dark .keyboard button:active {
    box-shadow:  inset 5px 5px 9px #29323e,
                inset -4px -4px 10px #455367;
}
.light .keyboard button:active {
    box-shadow: inset 5px 5px 9px #949494, 
                inset -4px -4px 10px #ffffff;
}
 
.dark .keyboard button:hover {
    background: linear-gradient(145deg, #29323e, #455367);
}
.light .keyboard button:hover {
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
}



.keyboard {
    width: 100%;
    height: max-content;
    margin: 14px 0 0 0;
}

button.equal {
    background-color: #fd8b3f;
}
button.equal:hover {
    background: linear-gradient(145deg, #c4601d, #ff9543);
}
button.equal:active {
    box-shadow: inset 5px 5px 9px #746852, 
                inset -4px -4px 10px #fd8b3f;
}















.alert {
    width: 50%;
    height: max-content;
    border-radius: 10px;
    border: 0px solid #000;
    box-shadow: 0 0 4px 0;
    padding: 10px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: #ccc;
    min-width: 50%;
}
.alert h3 {
    text-align: center;
    margin: 10px;
}
.alert .btn {
    color: #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0;
    background-color: blue;
}